@font-face {
  font-family: 'SUITE-Variable';
  src: url('../public/font/SUITE-Variable.ttf') format('truetype'),
       url('../public/font/SUITE-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  전체 폰트   */
.basic-font {
  font-family: 'SUITE-Variable', sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
